* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 780px) {
  .nav {
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }
  .nav .nav_brand {
    gap: 30px;
  }
  .nav .toggle {
    display: block;
    color: white;
    font-size: 28px;
  }
  .nav .nav_menu {
    display: none;
  }
  .nav .active {
    display: flex;
  }
  .nav .activeBtn {
    display: flex;
  }
}

.nav_menu {
  display: flex;
  gap: 55px;
}
.nav_menu a {
  font-size: 17px;
  font-weight: 400;
  line-height: 21.62px;
  text-align: left;
  color: white;
}
.nav_menu .menu_item_link {
  padding: 8px 40px;
  background: white;
  border-radius: 24px;
  color: #0a2640;
}
@media (max-width: 520px) {
  .nav_menu {
    flex-direction: column;
    align-items: center;
  }
}

.nav_sign_up {
  display: flex;
  gap: 42px;
  align-items: center;
}
.nav_sign_up h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 6px;
}
.nav_sign_up h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
  font-size: 17px;
  padding: 9px 22px;
  border-radius: 5px;
}

.mode_btn_image {
  width: 48px;
  height: 48px;
}

.nav_brand {
  display: flex;
  align-items: center;
  gap: 50px;
}

#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -10000;
}

@keyframes ldio-yzaezf3dcmj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-yzaezf3dcmj div {
  box-sizing: border-box !important;
}

.ldio-yzaezf3dcmj > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #5b83e1 transparent #5b83e1 transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj > div:nth-child(2),
.ldio-yzaezf3dcmj > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-yzaezf3dcmj 1s linear infinite reverse;
}

.ldio-yzaezf3dcmj > div:nth-child(2) {
  border-color: transparent #99f86a transparent #99f86a;
}

.ldio-yzaezf3dcmj > div:nth-child(3) {
  border-color: transparent;
}

.ldio-yzaezf3dcmj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-yzaezf3dcmj > div:nth-child(3) div:before,
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #5b83e1;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #5b83e1;
}

.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #5b83e1;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
  border-color: transparent;
}

.ldio-yzaezf3dcmj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-yzaezf3dcmj > div:nth-child(4) div:before,
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #99f86a;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #99f86a;
}

.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #99f86a;
}

.loadingio-spinner-double-ring-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}

.toggle {
  display: none;
}

.img_text {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 56px;
}
.img_text .text .img {
  width: 100%;
}
.img_text .text main {
  max-width: 567px;
  color: #777777;
}
.img_text .text h1 {
  max-width: 567px;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
  color: #ffffff;
}
.img_text .text p {
  max-width: 567px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(241, 241, 241, 0.9450980392);
  margin: 16px 0 40px;
}
.img_text .text .btn {
  display: flex;
  gap: 24px;
}
.img_text .text .btn .buy_btn {
  padding: 16px 56px;
  background-color: green;
  border-radius: 56px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #0a2640;
  width: 247px;
}
.img_text .text .btn .explore_btn {
  padding: 16px 56px;
  border-radius: 56px;
  font-size: 20px;
  font-weight: 700;
  background-color: #0a2640;
  border: 2px solid #ffffff;
  color: #ffffff;
}
@media (max-width: 500px) {
  .img_text .text .btn {
    flex-direction: column;
  }
  .img_text .text .btn .buy_btn,
  .img_text .text .btn .explore_btn {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .img_text {
    flex-direction: column;
    gap: 30px;
  }
}

.bg {
  background-color: #0a2640;
}

header {
  position: sticky;
  top: 0;
  background: #0a2640;
  padding: 24px 0;
  z-index: 1;
}

.navbar-shrink {
  background: rgba(183, 11, 236, 0.5);
}

.dark .bg {
  background-color: #99f86a;
}

.img_logo_bg img,
.image_section img {
  width: 100%;
}

.image_sections .card_picture {
  width: 100%;
}

.Handshake {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 84px 15px 197px;
}
.Handshake dd {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #0a2640;
  margin-top: 64px;
  font-weight: 700;
}
.Handshake p {
  color: #777777;
  font-size: 20px;
  font-weight: 400;
}
.Handshake h1 {
  max-width: 842px;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  margin: 12px 0 78px;
}
.Handshake h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin: 24px 0 12px;
}
.Handshake h3 {
  max-width: 293px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #777777;
}
.Handshake h4 {
  max-width: 193px;
  margin: 28px 0 8px;
  border-bottom: 2px solid #0a2640;
}

.three_Elemant {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
@media (max-width: 800px) {
  .three_Elemant {
    flex-direction: column;
  }
}

.phone_section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1060px) {
  .phone_section {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
.phone_section .phone_text h1 {
  max-width: 493px;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
}
.phone_section .phone_text p {
  display: flex;
  gap: 27px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  max-width: 450px;
  text-align: left;
  padding-bottom: 24px;
}
.phone_section .phone_text h2 {
  padding-top: 40px;
}
.phone_section .phone_text h2 dd {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #0a2640;
  padding: 16px 53px;
  color: white;
  border-radius: 5px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.0784313725);
}
.phone_section .phone_text h2 main {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 53px;
  border-radius: 5px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.0784313725);
  margin-bottom: 24px;
}
.phone_section .phone_text h3 {
  padding: 16px 56px;
  border-radius: 56px;
  background-color: #0a2640;
  color: white;
  width: 100%;
}

.add {
  padding: 120px 0;
}

.ramp_bg {
  background-color: #0a2640;
  padding-bottom: 96px;
}

.ramp_one {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 96px 0 72px;
}
@media (max-width: 430px) {
  .ramp_one {
    flex-direction: column;
  }
}
.ramp_one h1 {
  color: #f3ffff;
  max-width: 716px;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: left;
}
.ramp_one .imges {
  display: flex;
  gap: 28px;
}

.three_ramp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .three_ramp {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.ramp_two {
  max-width: 350px;
  padding: 40px;
  border-radius: 12px;
  background-color: #f3ffff;
}
.ramp_two .card {
  text-align: left;
}
.ramp_two .card h1 {
  max-width: 270px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000;
  margin-bottom: 40px;
}
.ramp_two .card dd {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
}
.ramp_two .card dd main dd {
  color: #0a2640;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.ramp_two .card dd main dl {
  color: #0a2640;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.big_image {
  text-align: center;
  padding: 124px 0 56px;
}
.big_image img {
  width: 100%;
}

.big_text {
  display: flex;
  padding-bottom: 158px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .big_text {
    flex-direction: column;
    align-items: center;
  }
}
.big_text h1 {
  max-width: 500px;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
}
.big_text main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.big_text main p {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 80px;
  max-width: 500px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  border-bottom: 1px solid rgba(158, 155, 155, 0.5);
}

h2 span {
  color: #777777;
  font-size: 16px;
}

.image_sections main {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 720px) {
  .font {
    font-size: 25px !important;
    line-height: 35px !important;
  }
  input {
    padding: 15px 32px !important;
  }
  .company_element {
    padding: 72px !important;
  }
}
@media (max-width: 720px) and (max-width: 370px) {
  input {
    padding: 15px 12px !important;
  }
  main p {
    width: 100%;
    display: flex;
  }
}
.font {
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  max-width: 716px;
  color: white;
}

.company_element {
  background-color: #0a2640;
  border-radius: 12px;
  padding: 72px 242px;
  margin-bottom: 84px;
}
.company_element main {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 50px;
}
@media (max-width: 1080px) {
  .company_element main {
    flex-direction: column;
  }
  .company_element main p {
    max-width: 370px;
  }
  .company_element main h1 {
    font-size: 10px;
  }
}
.company_element main input {
  padding: 15px 158px 15px 32px;
  background-color: #ffffff;
  border-radius: 56px;
}
.company_element main p {
  max-width: 210px;
  padding: 16px 56px;
  border-radius: 56px;
  background-color: green;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 117px;
}
@media (max-width: 650px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

.sites_section {
  display: flex;
  gap: 96px;
}

.footer_brand img {
  padding-bottom: 40px;
}
.footer_brand p {
  max-width: 300px;
  color: #777777;
  padding-bottom: 64px;
}

.siyts h1 {
  font-size: 20px;
  padding-bottom: 32px;
}
.siyts p {
  color: #777777;
  padding-bottom: 32px;
}