@use "../utils/_variables.scss" as var;
@use "./_flex.scss" as flx;
@use "../utils/mixin" as mxn;

header {
  position: sticky;
  top: 0;
  background: #0a2640;
  padding: 24px 0;
  z-index: 1;
}
.mode_btn_image {
  width: 48px;
  height: 48px;
}

.navbar-shrink {
  background: rgba(183, 11, 236, 0.5);
}
header {
  background-color: #0a2640;
  padding: 30px 0;
  nav {
    @include flx.flex(center, space-between, 0);
    @media (max-width: 650px) {
      & {
        @include flx.flex(center, space-between, 40px);
        flex-direction: column;
      }
    }
    .nav-brand {
      @include flx.flex(center, space-between, 0);
      @media (max-width: 650px) {
        & {
          width: 100%;
        }
      }
      .hamburger {
        display: none;
        color: var.$text-white;
        font-size: 35px;
        @media (max-width: 650px) {
          & {
            display: flex;
          }
        }
      }
    }
    .nav-menus {
      @include flx.flex(center, center, 40px);
      @media (max-width: 650px) {
        & {
          display: none;
        }
        &.active {
          display: flex;
        }
      }
      @media (max-width: 460px) {
        & {
          flex-direction: column;
        }
      }
      .nav-menu {
        @include flx.flex(center, center, 40px);
        @media (max-width: 300px) {
          & {
            flex-direction: column;
          }
        }
        .nav-menu__link {
          @include mxn.font(
            "Open Sans",
            16px,
            600,
            28px,
            left,
            var.$text-white
          );
        }
      }
      .nav-btn__link {
        padding: 8px 40px;
        background-color: var.$text-white;
        border-radius: 24px;
        border: 2px solid var.$text-white;
        @include mxn.font("Open Sans", 16px, 700, 24px, center, var.$bg-dark);
        transition: 1s;
        &:hover {
          background-color: var.$bg-green;
        }
      }
    }
  }
}
